/*RESET*/
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #31123f;
    background-color: #ffffff;
    font-size: 16px;
}

/*HEADER*/

.header {
    border: 1px solid black;
    min-height: 100px;
    margin-bottom: 10px;
}

.main {
    padding: 16px;
}

.cards {
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 32px 16px;
}

.cards__item {
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 19px 38px rgb(49 18 63), 0 15px 12px rgb(49 18 63);
}

.card__close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 0 2px 0 0 ;
    color: gray;
}

.card__close:hover {
    color: #31123f;
}

.card__img {
    width: 100%;
    height: 300px;
}

.card__info {
    padding: 10px;
}

.card-info__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card-info__item span:first-child{
    opacity: .5;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 400;
    min-width: 88px;
}

.filters__header {
    margin-bottom: 20px;
}

.filters__item h3 {
    margin-bottom: 15px;
}

.vote {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/*CUSTOM RADIO INPUT*/
.vote__container {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.vote__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.vote__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.vote__container:hover input ~ .vote__checkmark {
    background-color: #ccc;
}

.vote__container input:checked ~ .vote__checkmark {
    background-color: #31123f;
}

.vote__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.vote__container input:checked ~ .vote__checkmark:after {
    display: block;
}

.vote__container .vote__checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.filters__form {
    margin-bottom: 20px;
}

.filters__form-button {
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    background-color: #e3dede;
    color: #180a23;
}
